:root {
  --azul: #0a5bd3;
  --claro: #f4f7fb;
  --texto: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #e9edf3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 1000px;
  height: 550px;
  background: #fff;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0,0,0, .15);
}

/* ESQUERDA */
.login {
  width: 50%;
  padding: 50px;
}

.logo {
  font-weight: bold;
  color: var(--azul);
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

.social {
  display: flex;
  gap: 10px;
}

.social btn {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #fff;
}

.divider {
  text-align: center;
  margin: 25px 0;
  color: #aaa;
  font-size: 14px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.password {
  position: relative;
}

.password span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 25px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: var(--azul);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.singup {
  margin-top: 20px;
  font-size: 14px;
}

/* DIREITA */
.banner {
  width: 50%;
  background: var(--azul);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.banner h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.banner p {
  opacity: .85;
}