* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-height: 1200px;
    margin: auto;
}

.header {
    background: #0d1b2a;
    padding: 20px 0;
}

.logo {
    color: #fff;
    font-size: 26px;
}

.logo span {
    color: #4cc9f0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background: linear-gradient(to right, #0d1b2a, #1b263b);
    color: #fff;
    padding: 120px 0;
    text-align: center;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    background: #4cc9f0;
    padding: 12px 30px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

section {
    padding: 80px 0;
    
}

.sobre-grid,
.sobre-grid,
.portfolio-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
margin-top: 40px;    

}

.card {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.diferenciais {
    background: #f5f5f5;
    text-align: center;
}

.diferenciais li {
    margin-bottom: 10px;
    font-weight: 500;
}

.portfolio-item {
    background: #e0e0e0;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.depoimentos blockquote {
    max-width: 600px;
    margin: auto;
    font-style: italic;
    text-align: center;
}

.depoimentos span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.contato form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato input,
.contato textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contato button {
    padding: 12px;
    border: none;
    background: #0d1b2a;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    background: #0d1b2a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}




